{# Héritage du block de base #}
{% extends "base.html.twig" %}

{% block title %}Conference guestbook{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h2>Donnez vos commentaires</h2>
    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <p>
            <a href = "{{ path ('conference', {id: conference.id}) }}">Voir</a>
        </p>
    {% endfor %}
{% endblock %}

{% block javascripts %}{% endblock %}
    
